<div class="row">
  <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
    <h2>Connexion</h2>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          class="form-control"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="signInForm.invalid"
      >
        Connexion
      </button>
    </form>
  </div>
</div>
